<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

*{
    box-sizing: border-box;
    border: 1px solid red;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    text-align: center;
    background-color: #846934;
    padding: 1.5rem;
    margin: 0 0 1rem 0;
    color: white;
}

body{
    background-image: url(background-image/chewy\ background.jpg);
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: center; */
    /* padding: 0; */
    margin: 0 5rem 0 8rem;
    /* position: fixed; */
}

.chewy{
    background-color: white;
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: flex-start;
    border-radius: 30%;
    border: 2px solid black;
    /* margin: 0 0 0 0; */
}

.chewy-text{
    box-sizing: border-box;
    width: 80%;
    font-size: 40px;
}

/* .speech-bubble{
    height: 100%;
    margin: 0 0 0 -4rem;
} */

#board{
    display: grid;
    justify-content: space-around;
    /* justify-items: center; */
    align-content: space-around;
    flex-wrap: center;
    border: 1rem solid black;
    background-color: white;
    /* margin: 0 1rem 0 10rem; */
    height: 550px;
    width: 550px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.play-tile{
    display: grid;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background-color: #846934;
    margin: -1px;
    /* padding-bottom: px; */
    place-items: center;
}

.invalid-tile{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background-color: #FFFFFF;
    margin: -1px;
}

.p1-piece{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url(board-images/chewy-piece1.jpg);
    /* justify-self: center; */
    margin: 0;
}

.p2-piece{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: url(board-images/chewy-piece2.jpg);
    margin: 0;
}

.dialogue-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    width: 18rem;
    height: 99%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 1rem;
    /* align-items: center; */
}

h2{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    /* text-wrap: wrap; */
    align-self: center;
}

h2.player1-prompt{
    margin: 1rem -1rem 2rem -1rem;
    padding: 20px 0 30px 0;
    border-bottom: 2px solid black;
}

h2.player2-prompt{
    margin: 2rem -1rem 1rem -1rem;
    padding: 30px 0 20px 0;
    border-top: 2px solid black;
}

.chewy-dialogue{
    align-self: center;
    font-family: Calibri;
    font-size: 20px;
}